@charset "utf-8";

@font-face {
  font-family: "Circe Light";
  src: url("../fonts/CRC35.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Circe Regular";
  src: url("../fonts/CRC55.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Circe Bold";
  src: url("../fonts/CRC65.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Circe ExtraBold";
  src: url("../fonts/CRC75.ttf");
  font-style: normal;
}

