@charset "utf-8";

.body_visible {
  overflow: visible!important;
}

.body_hidden {
  overflow: hidden!important;
}

@include adaptive(max_767) {
  .wow {
    animation-name: none;
    visibility: visible;
  }
}